<!-- your html code here -->
<div class="card px-5 py-4">
    <div class="card-body">
      <h3 class="card-title">Porfolio</h3>
      <p class="card-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Preasent commodo cursus<br>
        magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="card-group px-3">
        <div class="card">
          <img src="assets/img/big-project-image.png" class="card-img-top" alt="imagen 700x400">
          <div class="card-body">
            <h5 class="card-title">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adispicing elit. <br>
            Nam viverra euismod odio, gravida pellentesque urna, <br>
            varius vitae.</p>
          </div>
        </div>
        <div class="card">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="imagen 700x400">
          <div class="card-body">
            <h5 class="card-title">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adispicing elit. <br>
                Nam viverra euismod odio, gravida pellentesque urna, <br>
                varius vitae</p>
          </div>
        </div>
        <div class="card">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="imagen 700x400">
          <div class="card-body">
            <h5 class="card-title">Project Name </h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adispicing elit. <br>
                Nam viverra euismod odio, gravida pellentesque urna, <br>
                varius vitae</p>
          </div>
        </div>
      </div>
  </div>