<!-- your html code here -->
<div class="card py-4 px-5">
  <div class="row">
    <div class="col-3 ms-5 ps-5 py-3">
        <img src="assets/img/2.jpg" width="240" class="rounded-circle float-start ms-5" alt="teclado">
    </div>
    <div class="col-7 ps-4">
      <div class="card-body ps-1">
        <h3 class="card-title">The second Heading <medium class="text-secondary">Is pretty Cool too.</medium></h3>
        <p class="card-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis <br>
        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. <br>
        Fusce dapibus, tellus ac cursus commodo. </p>
      </div>
    </div>
  </div>
</div>